body {
    background: linear-gradient(187deg, rgba(2,0,36,1)0%
    , rgba(79,0,0,1) 35%, rgba(79,39,0,1) 100%);
    display: grid;
    place-items: center;
    height: 100vh;
    color: white;
    letter-spacing: 0.3em;
    font-family: "October Crow";
    font-size: 12vh;
}

.G {animation: flicker1 2s linear infinite;}
.H {animation: flicker2 2s linear infinite;}
.O {animation: flicker3 2s linear infinite;}
.S {animation: flicker4 2s linear infinite;}
.T {animation: flicker5 2s linear infinite;}

@keyframes flicker1 {
    0% { opacity: 0.10; }
    5% { opacity: 0.25; }
    12% { opacity: 0.29; }
    18% { opacity: 0.34; }
    27% { opacity: 0.23; }
    30% { opacity: 0.39; }
    35% { opacity: 0.12; }
    43% { opacity: 0.25; }
    48% { opacity: 0.19; }
    60% { opacity: 0.42; }
    65% { opacity: 0.37; }
    75% { opacity: 0.42; }
    87% { opacity: 0.18; }
    100% { opacity: 0.30; }
}

@keyframes flicker2 {
    0% { opacity: 0.5; }
    5% { opacity: 0.25; }
    12% { opacity: 0.29; }
    18% { opacity: 0.34; }
    27% { opacity: 0.8; }
    30% { opacity: 0.2; }
    35% { opacity: 0.12; }
    43% { opacity: 0.22; }
    48% { opacity: 0.6; }
    60% { opacity: 0.2; }
    65% { opacity: 0.37; }
    75% { opacity: 0.3; }
    87% { opacity: 0.5; }
    100% { opacity: 0.2; }
}

@keyframes flicker3 {
    0% { opacity: 0.18; }
    5% { opacity: 0.22; }
    12% { opacity: 0.14; }
    18% { opacity: 0.21; }
    27% { opacity: 0.17; }
    30% { opacity: 0.39; }
    35% { opacity: 0.07; }
    43% { opacity: 0.14; }
    48% { opacity: 0.17; }
    60% { opacity: 0.29; }
    65% { opacity: 0.19; }
    75% { opacity: 0.31; }
    87% { opacity: 0.16; }
    100% { opacity: 0.32; }
}

@keyframes flicker4 {
    0% { opacity: 0.5; }
    5% { opacity: 0.6; }
    12% { opacity: 0.7; }
    18% { opacity: 0.83; }
    27% { opacity: 0.4; }
    30% { opacity: 0.87; }
    35% { opacity: 0.2; }
    43% { opacity: 0.23; }
    48% { opacity: 0.6; }
    60% { opacity: 0.2; }
    65% { opacity: 0.375; }
    75% { opacity: 0.3; }
    87% { opacity: 0.56; }
    100% { opacity: 0.2; }
}

@keyframes flicker5 {
    0% { opacity: 0.15; }
    5% { opacity: 0.25; }
    12% { opacity: 0.29; }
    18% { opacity: 0.34; }
    27% { opacity: 0.23; }
    30% { opacity: 0.38; }
    35% { opacity: 0.12; }
    43% { opacity: 0.25; }
    48% { opacity: 0.17; }
    60% { opacity: 0.42; }
    65% { opacity: 0.34; }
    75% { opacity: 0.41; }
    87% { opacity: 0.18; }
    100% { opacity: 0.30; }
}

.H::after {
    content: '';
    box-shadow: -55px 0px 50px 15px rgba(244,208,63,1);
}